


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.word-description,
.image-gallery {
    width: 80%;
}

.image-gallery {
    display: flex;
    overflow: hidden; /* To hide the images initially */
}

.gallery-image {
    transition: transform 2s ease-in-out;
    opacity: 0;
    position: absolute;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes riseAndShake {
    0% { transform: translateY(-100%); }
    25% { transform: translateY(0) translateX(10px) translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(0) translateX(-10px) translateY(-10px); }
    100% { transform: translateY(100%); }
}